@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');


/* font-family: 'Poppins', sans-serif; */
body{
    background-color: rgb(194, 192, 190);
    min-height: 100vh;
     
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h1, h2{
    color: rgb(199, 92, 92)
}
.name{
    color:black;
    padding: 5px 10px;
    text-align: center;
    
}
.name:hover{
    color: rgb(223, 143, 143);
}
.card{
    background-color: white;
    width: 85vw;
    height: 80vh;
    margin: 50px auto;

}
.side-menu{
   
    width: 20vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}
.side-menu .logo-name{
    height: 10vh;
    display: flex;
    padding: 5px 60px;
    align-items: center;
    
}
.side-menu ul{
  font-size: 24px;  
  color: rgb(149, 148, 148);
  justify-content: center;
  margin-left: 50px;
  
  
}

.side-menu li{
    font-size: 18px;
    padding: 8px 20px;
    color: black;
    display: flex;
    align-items: center;
}
.side-menu li:hover{
   background-color: rgb(220, 213, 208) ;
   color: rgb(255, 255, 255); 
}
.side-menu ul li img{
    width: 32px;
    height: 32px;
    padding: 5px;
}

.searchBar button img{
    width: 40px;
}
.container{
    position: absolute;
    right: 0;
    width: 60vw;
    height: 100vh;
}
.container .header{
    position: fixed;
    width: 60vw;
    height: 10vh;
    display: flex;
}
.container .header .navbar{
    width: 90%;
    display: flex;
    align-items: center;
}
.container .header .navbar .searchBar{
    flex: 1;
    display: flex;
    justify-content: center;
}
.container .header .navbar .searchBar input[type=text]{
border: none;
background-color: antiquewhite;
padding: 10px;
width: 100%;
margin-left: -400px;

}
/* @media screen and (max-width: 600px) {
   input[type=text]{
     display: none;
    }
  } */
.container .header .navbar .searchBar button{
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .header .navbar .searchBar button img{
   width: 30px; 
   height: 30px;
}
.container .header .navbar .userProfile{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .header .navbar .userProfile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    
}
.container .picContent{
margin-top: 10vh;
min-height: 90vh;
margin-left: -235px;
}
.cards .imageCase img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 0px 33px 0px rgb(167, 135, 81);
}
.container .picContent .cardss{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.container .picContent .cards{
    display: flex;
}
.container .picContent .cards .imageCase{
    margin-right: 20px;
}
.container .picContent .cards .imageCase .picText{
    margin-top: -30%;
    padding: 10px;
    letter-spacing: 2px;
}
.container .picContent .cards h1{
    font-size: 18px;
    color: rgb(45, 85, 85);
}
.picContent .picSecondContent{
    min-height: 60vh;
}